{% extends 'base.html' %}
{% load static %}

{% block titulo %} Inicio {% endblock titulo %}
{% block style_block %}
<link href="{% static 'css/post.css' %}" rel="stylesheet" />
{% endblock style_block %}


{% block titulo_baner %} Publicaciones de interes {% endblock titulo_baner %}

{% block imagen %}{% static 'assets/img/home_baner.jpg' %}{% endblock imagen %}

{% block buscarPlaceholder %}Publicaciones... {% endblock buscarPlaceholder %}


{% block contenid %}

{% if posts %}

<section class="">
    {% for post in posts %}
    <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="{{post.image}}" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
            <h1 class="postcard__title blue"><a href="{% url 'blog:detailPost' post.id %}">{{post.titulo}}</a></h1>
            <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                    <i class="fas fa-calendar-alt mr-2"></i> {{post.fecha_creacion}}
                </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">{{ post.contenido |safe |truncatewords_html:30 }}</div>
            <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i> Publicaciones</li>
                <!--<li class="tag__item"><i class="fas fa-clock mr-2"></i></li>-->
                <li class="tag__item play blue">
                    <a href="{% url 'blog:detailPost' post.id %}"><i class="fas fa-book-reader mr-2"></i> Leer
                        más...</a>
                </li>
            </ul>
        </div>
    </article>
    {% endfor %}

</section>

{% else %}
<div class="mb-3 d-flex justify-content-center">
    <h2><em> No hay publicaciones para mostrar!!! </em></h2>

</div>
{% endif %}

{% endblock contenid %}




{% block paginator %}
{% if posts.has_previous %}
<div class="d-flex justify-content-end mb-4 " style="float: left;"><a class="btn btn-info text-uppercase float-left"
        href="?page={{posts.previous_page_number}}{% if  request.GET.search %}&q={{ request.GET.search }} {% endif %}">Anterior</a>
</div>

{% endif %}
{% if posts.has_next %}
<div class="d-flex justify-content-end mb-4"><a class="btn btn-info text-uppercase"
        href="?page={{posts.next_page_number}}{% if  request.GET.search %}&q={{ request.GET.search }} {% endif %}">Siguiente</a>
</div>

{% endif %}
{% endblock paginator %}